<% provide(:title, 'Home')%>

<div class="center hero-unit">
    <h1>Welcome to the Fitness App</h1>
    <h2>
        This site is two simple tools.</br> First, a log to track 
        your progress in cutting, maintaining and bulking. </br> Second, 
        a menu that automatically calculates all your macronutrient needs 
        according to your goals. </br> It's totally free.
    </h2>
    <%= link_to "Sign up!", new_user_registration_path, 
                            class: "btn btn-large btn-primary "%>
</div>


