<% provide(:title, 'Home')%>

<div class="center hero-unit">
  
  <h1>Welcome to GetJoocy.com! </h1>
    <br>
    <h2> Getjoocy.com is a macronutrient meal creator. <br>Think Myfitnesspal, except designed especially for bodybuilders or anyone trying to get joocy, nomsayin?  </h2>        
    <br>
    <%= link_to "Sign up!", new_user_registration_path, 
                            class: "btn btn-large btn-primary "%>
</div>


