<div class="widget">
    <form action="http://getjoocy.us4.list-manage.com/subscribe/post?u=3643cb196a0103282451cdc87&amp;id=67c015f71c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <h2>Stay in Touch</h2>
        <div class="field">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div id="mce-responses" class="field">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_3643cb196a0103282451cdc87_67c015f71c" value=""></div>
        <div class="clear"><input type="submit" value="Stay in Touch" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
</div>
