<div class="widget widget-settings">
  <h3>Settings</h3> 

  <form action="" method="post" accept-charset="UTF-8">

    <div class="field">
      <label for="user_email">Email</label>
      <input id="user_email" name="user[email]" type="email" value="travis@marketcake.com" />   
    </div>

    <div class="field">
      <label for="user_password">Password</label>
      <small>Leave blank if you don&#39;t want to change your password</small>
      <input autocomplete="off" id="user_password" name="user[password]" type="password" />   
    </div>

    <div class="field">
      <label for="user_password_confirmation">Password confirmation</label>
      <input autocomplete="off" id="user_password_confirmation" name="user[password_confirmation]" type="password" />   
    </div>

    <input name="commit" type="submit" value="Update Settings" />

  </form>
</div>
