<% provide(:title, 'Interest Signup')%>


<div class="optin-header">
  <div class="optin-header-inner">
    <h1> Spreadsheets, Be gone! </h1>
    <br>
    <h2> Getjoocy.com is a macronutrient meal creator. <br>Think Myfitnesspal, except designed especially for bodybuilders.  </h2>
    <br>
    <p> It's Free. It's awesome. It's <span style="font-weight:bold;">almost</span> done! </p>   
    <br>
    <p> Sign up here if you want to know when it's ready and be the first to try it out! </p>
    <div class="optin-container">
      <div class="optin-inner">
        <form action="http://getjoocy.us4.list-manage1.com/subscribe/post?u=3643cb196a0103282451cdc87&amp;id=67c015f71c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
        </label>   
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
        </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>	
            <div class="clear">
              <%= image_submit_tag('optin-buttons/blue-greencheck.png', class:"button", name:"subscribe", id: "mc-embedded-subscribe", value:"Subscribe") %>
            </div>
        </form>
      </div>
    <div>        
  </div>
</div>

<!-- Begin MailChimp Signup Form -->



