<div class="widget widget-recipe-creator">
  <h3>Recipe Creator</h3>
  <small><strong>Creating recipes</strong> allow you to easily add groups of certain foods on the Meals page.</small>
  <div class="new-recipe">
    <form action="#">
      <h4><%= image_tag 'chef.png', size: '20x20' %>Add New Recipe</h4>
      <input type="text" placeholder="Recipe Name">
    </form>
    <h4><%= image_tag 'chef.png', size: '20x20' %> Balsamic Pasta Chicken &middot; <a href="#">Save Recipe</a></h4>
    <table>
      <thead>
        <tr>
          <th width="230" class="left">Name</th>
          <th>Servings</th>
          <th>Serving Size</th>
          <th>Fat</th>
          <th>Carbs</th>
          <th>Protein</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left">Chicken</td>
          <td>
            <form action="#" method="post"><input step="0.01" type="text" value="1.0"></form>
          </td>
          <td>4.0 oz</td>
          <td>20.0 g</td>
          <td>0.0 g</td>
          <td>25.0 g</td>
          <td><a href="#">&times;</a></td>
        </tr>
        <tr>
          <td class="left">Balsamic Vinegar</td>
          <td>
            <form action="#" method="post"><input step="0.01" type="text" value="1.0"></form>
          </td>
          <td>1.0 oz</td>
          <td>3.0 g</td>
          <td>0.0 g</td>
          <td>25.0 g</td>
          <td><a href="#">&times;</a></td>
        </tr>
        <tr>
          <td class="left">Pasta</td>
          <td>
            <form action="#" method="post"><input step="0.01" type="text" value="1.0"></form>
          </td>
          <td>1.0 oz</td>
          <td>3.0 g</td>
          <td>0.0 g</td>
          <td>25.0 g</td>
          <td><a href="#">&times;</a></td>
        </tr>
        <tr>
          <td colspan="7" class="left"><a href="#">+ Add food</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="widget">
  <h3>Your Recipes</h3>
  <table>
    <thead>
      <tr>
        <th width="230" class="left">Name</th>
        <th>Servings</th>
        <th>Serving Size</th>
        <th>Fat</th>
        <th>Carbs</th>
        <th>Protein</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="left">Mom's Shrimp Pasta</td>
        <td>1.0</td>
        <td>4.0 oz</td>
        <td>20.0 g</td>
        <td>100.0 g</td>
        <td>25.0 g</td>
        <td><a href="#">✎</a></td>
        <td><a href="#">&times;</a></td>
      </tr>
      <tr>
        <td class="left">Big ass chicken sandwich</td>
        <td>1.0</td>
        <td>2.0 oz</td>
        <td>1.0 g</td>
        <td>0.9 g</td>
        <td>25.0 g</td>
        <td><a href="#">✎</a></td>
        <td><a href="#">&times;</a></td>
      </tr>
      <tr>
        <td class="left">Egg Tort with Onion and Mayo</td>
        <td>1.0</td>
        <td>1.0 oz</td>
        <td>10.0 g</td>
        <td>20.0 g</td>
        <td>23.0 g</td>
        <td><a href="#">✎</a></td>
        <td><a href="#">&times;</a></td>
      </tr>
      <tr>
        <td class="left">Chocolate, Peanut Butter, Banana Shake</td>
        <td>1.0</td>
        <td>4.0 oz</td>
        <td>20.0 g</td>
        <td>0.0 g</td>
        <td>25.0 g</td>
        <td><a href="#">✎</a></td>
        <td><a href="#">&times;</a></td>
      </tr>
    </tbody>
  </table>
</div>


