<div class="widget widget-status-updates">
    <h3><span class="active"><%= current_client.status_updates.count %></span> Status Updates</h3>
  <small>Total LBM and Total Fat changes are calculated from the start of a new phase.</small>
  <table>
    <thead>
      <tr>
        <th class="left">Entry Date</th>
        <th class="left">Phase</th>
        <th>Weight</th>
        <th class="nowrap">BF %</th>
        <th>LBM</th>
        <th>Fat</th>
        <th>Weight Change</th>
        <th>LBM Change</th>
        <th>Fat Change</th>
        <th>Total LBM Change</th>
        <th>Total Fat Change</th>
      </tr>
    </thead>
    <tbody>
      <% if @status_updates != nil %>
          <%= render(partial: "status_update", collection: @status_updates) %>
      <% else %>
      <% end %>
    </tbody>
  </table>
</div>
