<% provide(:title, "New Stat") %>
<% provide(:heading, "Welcome, #{ current_user.email }!") %>
       
<div id="stats-page-container">
  <div id="stat-form" >
    <div id="stat-form-inner"> 
      <% if current_user.status_update == nil  %> 
        <%= render 'layouts/init_stats_form' %> 
      <% else %> 
        <%= render 'layouts/stat_input_form' %>
      <% end  %>
   </div>
 </div>
  <%= render 'layouts/progress' %> 
</div>

                                     


