<% provide(:title, "New Stat") %>
<% provide(:heading, "Dashboard") %>
       
<div id="stats-page-container">
  <div id=stats-page-inner> 

    <%= render 'layouts/stat_input_form' %> 
    <%= render 'layouts/current_stats'   %>
    <%= render 'layouts/progress'        %> 

  </div>
</div>



