<tr>
    <thead class=meal-thead>
      <td class=meal-thead-name> <%= meal.meal_name %> </td>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> <%= link_to "x" %> </th>
    </thead>
    <tbody class=meal-tbody>

       <%# get reference to current meal and it's foods %>
       <%= render meal.meal_foods %>

       <td class=remove-td-center> <%= link_to "new food" %> </td> 
    </tbody>    
</tr> 

