<tr>
    <thead class=meal-thead>
      <td class=meal-thead-name> <%= meal.meal_name %> </td>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> <%= link_to "x" %> </th>
    </thead>
    <tbody class=meal-tbody>

       <%= #render meal.meal_foods %>

       <td> <%= #link_to "+" %> </td> 
    </tbody>    
</tr> 
