
/* main */

body {
    font-size: 14px;
    color: #111;
    font-family: sans-serif;
}

a {
    color: #00C2A3;
    text-decoration: none;
    cursor:pointer;
}

a:hover {
    text-decoration: underline;
}

li {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 5px;
}

small {
    font-size: 11px;
    margin: 0;
    display: block;
}

.nowrap {
    white-space:nowrap;
}

hr {
    margin:20px 0px 10px 0px;
    width: 100%;
    float: left;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

select, 
input[type="submit"] {
    display: inline !important;
}

/* helpers */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* begin */

.wrapper {
    background: #fff;
}

.container {
    width:960px;
    margin: 0 auto;
}

.widget {
    padding: 10px;
    margin-bottom: 10px;
}

.widget-inner {
     padding: 10px;
     margin-left:5px;
}

.widget h3 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
}

.widget-half {
    width: 48%;
}

.widget-left {
    float: left;
}

.widget-right {
    float: right;
}

.content {
    float: right;
    width: 700px;
}

.content .widget {
    padding: 0;
}

.widget h3 {
  color: #fff;
  background-color: #1b1d1f;
  margin: 0;
  margin-bottom: 12px;
  line-height: 1;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.widget h4 span,
.widget h3 span {
    color: gray;
}

.widget h3 .active {
    color: orange;
}

.bold-link {
    font-size: 12px;
    font-weight: bold;
}

/* sidebar */

.sidebar {
    float: left;
    width: 250px;
    margin-bottom: 20px;
}

.sidebar h4 {
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
}

.sidebar h5 {
    margin:0;
}

.sidebar p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 8px;
}

.sidebar .widget {
    margin-bottom: 5px;
}

/* header */

.current-client {
    margin: 5px 0;
    text-align: right;
    font-size: 20px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 6px;
}

.nav li {
    float: left;
}

.nav a {
    text-decoration: none;
    letter-spacing: 1px;
}

.nav span {
    position: relative;
    top: 6px;
    left: 2px;
}

.header {
    padding: 10px 0;
}

.logo {
    margin: 0;
    float: left;
}

.header .nav {
    float: right;
}

.header .nav a {
    letter-spacing: 0;
    display: block;
    color: #000;
    font-size: 15px;
    padding: 6px 8px;
    margin-left: 5px;
    border-radius:2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

.header .nav a:hover {
    text-decoration: none;
    background: #000;
    color: white;
}

.footer .container {
    margin:20px auto 0;
    padding: 20px 20px 20px 20px;
    background: #1B1D1F;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.footer p {
    font-size: 13px;
    margin: 0;
    color: #BEBDBD;
}

/* forms */

.autocomplete,
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    padding: 4px 10px;
    margin-bottom: 5px;
    font-size: 13px;
    border: 1px solid #BBB;
    border-top-color: #999;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.08);
    -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.08);
    -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

textarea {
    width: 300px;
    height: 30px;
}

select,
input[type="submit"] {
    display: block;
}

input[type="text"]:disabled { 
    background: #ccc; 
}

.field label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
}


.field input[type="text"], 
.field input[type="password"], 
.field input[type="email"], 
.field textarea {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 6px 8px;
    width: 250px;
}

/* tables */

table {
    text-align: right;
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
}

tr {
    border-bottom: 1px solid #f7f7f7;
}

thead tr {
    border-bottom: 5px solid white;
}

th, td {
    padding: 5px 8px;
}

th {
    background: #eee;
}

td.left,
th.left {
    text-align: left;
}

.nopad-left {
    padding-left: 0;
}

table a {
    font-weight: bold;
}

table input[type="text"] {
    font-size: 12px;
    padding: 2px 5px 1px;
    margin: 0;
    width:30px;
    text-align: left;
}

.form-small input,
.form-small select {
    display: inline;
    font-size: 13px;
    padding: 3px 5px;
}

.totals {
    border-bottom: 2px solid #111;
    margin-bottom: 20px;
}

.totals tr {
    border-bottom: 0;
}

.totals td {
    font-weight: bold;
}

.phase a {
    color: #999;
}

/* pagination */

.pagination {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    color: #999;
}

.pagination span {
    padding: 0 4px;
}

.pagination a {
    color: #000;
}

/* summary page */

.content .widget-important {
    background: #FFFFEC;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffde8', endColorstr='#ffffff',GradientType=0 );
}

.widget-important .widget-inner {
    padding-top: 0px;
}

.widget-important small {
    margin-bottom: 6px;
    font-size: 11px;
}

.widget-progress table {
    margin-bottom: 20px;
}

.widget-update .change-phase {
    width: 80px;
    display: block;
    float:left;
    margin-left: 381px;
}

.widget-update .add-notes {
    width:50px;
    display: block; 
    float:left;
    margin-left: 181px;
}

/* status updates */

.widget-status-updates table {
    margin-top: 10px;
}

.widget-status-updates td.notes {
    background-color: #EDFFFB;
    text-align:left;
    padding-top: 0px; 
}

.widget-status-updates td.notes small {
    padding: 5px;
}

.widget-status-updates a.history {
    display:block;
    text-align: center;
    margin-top: 10px;

}

.widget-status-updates .notes ul{
    padding: 0 0 0 5px;
}

/* meals */

.widget-meal-builder .meal {
    margin-bottom: 20px;
    padding-left: 10px;
    border-left-width: 5px;
    border-left-style: solid;
    border-color: #C7E9EC;
}

.widget-recipe-creator h4,
.widget-meal-builder h4 {
    color: #444;
    margin: 0 0 14px 0;
    font-size: 16px;
    font-weight: normal;
}

.widget-recipe-creator h4 img,
.widget-meal-builder h4 img {
    vertical-align: bottom;
    margin-right: 4px;
}

.widget-meal-builder .meal tr:last-child {
    border-bottom: 0;
}

.widget-meal-builder .delete-meal {
    float: right;
    margin-right:7px;
    font-size: 14px;
    color:#F79400;
}

.widget-meal-builder .meal0 {
    border-color: #eee;
}

.widget-meal-builder .meal0 img {
    vertical-align: top;
}

.widget-meal-builder .meal0 input {
    margin-top: 0px;
}

.widget-meal-builder .meal0 h4 {
    color: #999;
}

.widget-meal-builder .meal1 {
    border-color: #C7E9EC;
}

.widget-meal-builder .meal2 {
    border-color: #D8CDE7;
}

.widget-meal-builder h4 {
    color: #444;
    margin: 0 0 14px 0;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 14px 0;
}

.widget-meal-builder .meal-name {
    border: none;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    margin: 0 0 -3px -13px;
    font-size: 16px;
    color: #444;
    font-weight: normal;
}

.widget-meal-builder input:focus.meal-name  {
    outline: 0;
}

.widget-meal-builder .autocomplete input[type='text'] {
    text-align:left;
}

.widget-macro-settings small {
    margin-bottom: 0px;
}

.widget-macro-settings table {
    width: initial;
    text-align: left;
}

.widget-macro-settings table:first-of-type {
    float: left;
    margin-right: 30px;
}

.widget-macro-settings table tr {
    border: none;
}

.widget-macro-settings table td {
    padding: 0 4px;
}

.widget-macro-settings table small {
    margin: 3px 0;
}

.widget-macro-settings form {
    margin-top: 6px;
}

.widget-macro-settings input[type="text"] {
    width: 62px;
}

.widget-macro-settings .table-labels {
    font-weight: bold;
    font-size: 13px;
}

.widget-meal-builder .add-meal {
    padding: 10px 0;
}

.widget-meal-builder .add-food-link {
    font-weight: bold;
    font-size: 12px;
}

.widget-meal-builder .ms-ctn {
    margin-top: 15px;
}

.widget-meal-builder .ms-helper {
    top:-15px;
}

/* Foods */

.widget-search-database table {
    border: 1px solid #eee;
}

.widget-search-database small {
    margin-bottom: 8px;
}

.widget-search-database input[type="text"] {
    width: 100%;
    padding: 4px 6px;
}

.widget-search-database input[type="submit"] {
    margin-top: 8px;
}

.widget-search-database #search-foods {
    margin-top:10px;
}

/* Recipe Page */

.widget-recipe-creator table {
    margin-top: 6px;
}

.widget-recipe-creator h4 {
    margin-top: 10px;
}

.widget-recipe-creator tr:last-child {
    border-bottom: 0;
}

.widget-recipe-creator .new-recipe {
    margin-bottom: 20px;
}

/* Log Page */

.notes li {
    display: block;
    font-size: 10px;
    font-weight:bold;
}

.notes span {
    font-weight: normal;
}

/* Clients Page */

.widget-clients input[type="checkbox"] {
    vertical-align:top;
    margin-right: 5px;
}

.widget-clients form {
    margin-left: 12px;
}
.widget-clients li {
    list-style-type: none;
}

.widget-clients ul {
    padding-left:0px;
}

.inactive a{
    color:#8EC0BC;
}

.widget-clients a {
    font-size: 14px;
}

