
/* Layout */

.optin-header{  }
.optin-header-inner{ 
  width:750px;
  margin:0 auto;

  /* Center text */
  h1, h2,  p{ text-align:center; }

  form{width: 300px;
       margin: 0 auto;
     }
  input{display: block;
        margin: 0 auto;
        
    }
  .button{border:none; width:205px;}

  .optin-container{margin-top:30px;}

}



/* Styling */

.optin-header{  }
.optin-header-inner{ 

  p{ font-size:1.2em; }

}
