
/*   container   */

.container{
  .container-inner{
    width:930px;
    margin:auto;
  }

}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}



/* subheader * / 





/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}





/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}                     

.center h1 {
  margin-bottom: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 65%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group !optional;
  @extend .error;
 }


 /* Status_updates */

.status_updates {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: #999;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;        
    margin-bottom: 5px;
  }
}


/* Log Page Styling */

#log-page-container{
  margin:auto;
  width:900px;
  text-align:left;

  #log{
    width:100%;
    margin-left:auto;
    margin-right:auto; 
  }

  .inner {                     
    overflow:hidden;
  }

  #log-inner{
    padding:1px .8px;
  }

  table#log th{
    border-bottom:1px solid gray;
    text-align:center;
  }

  table#log td{
    border-bottom:1px dotted gray;
    text-align:center;
  }

}



/* Dashboard */

#stats-page-container{
  overflow:hidden;

  #progress{
      overflow:hidden;
      float:left;
      margin-left:20px;
      #progress-inner{
        margin:auto;
        overflow:hidden;
        padding:10px;
        table{
          margin:auto;
          width:230px;
          td{ text-align:center; }
        }
      } 

      h3, h4, p{
      text-align:center;
      }
      
    
    }   
    
  #stats-page-inner{
    overflow:hidden;
    margin:auto;
    width:740px;
    #stats-page-inner-top{
      width:600px;
      margin:auto;
      overflow:hidden;
    }
  }

  #stat-form{          
    border:1px solid black;
    margin: 25px 0 0 0;
    float:left;
    width:160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
    input{
      width:100px;
    } 

    #stat-form-inner{
     
      h3{ 
        margin:10px 0 5px 10px;
       }
      #stat-form-bottom{
        width:110px;
        margin:auto;
      }

    }

    select{
      width:80%;
    }
  }
  
  #current-stats{
    padding:10px 20px 20px 20px;
    float:left;
    margin:25px 0 0 70px;
    h3{
      margin-bottom:10px;
    } 

    table{ 
      margin:auto; 
      width:250px;

    thead{ margin:auto; }
    td{ text-align:center; }
   
    }

    #current-stats-inner{
      width:190px;
      margin:auto;

    a{ text-align: center;
       margin-top:10px;
       width: 100%;
       float: left; 
       text-decoration:underline;
     }
    }
  }
  
  #settings{
    border:1px solid black;
    padding:10px 20px 10px 20px;
    margin:20px 0 0 10px;
    float:left;
    h3{
      margin-bottom:10px;
    } 
  }
  #metabolism{
    border:1px solid black;
    padding:10px 20px 10px 20px;
    margin:20px 0 0 10px;
    float:left;
    h3{ margin-bottom:10px; } 
  }  
}

/* Registration/ Settings Page */

#registration-form-wrapper{
  width:600px;
  margin:auto;

  #registration-form-inner{
    width:300px;

    .edit_user{
      width:300px;
    }

    #registration-form-left{
    }
  }
  #registration-form-right{
      float:right;
      margin-top:20px;
      padding:10px;
      background-color:#F4FAFF;
      border:1px solid #80CBFF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      ul{ list-style-type:none; 
          margin:0px; 
          li{ margin-top:2px; }
        }
    } 
}


/* Meals page */

#meals-page-container{
  width:550px;
  margin:auto;

  td{ text-align:center; }
  .remove-td-center { text-align:left; }
  
  #parent-meals-table{ width:100%; }
  
  #parent-meals-thead{ }

  .parent-meals-thead-tr{ }
          
  #parent-meals-first-tr{ }

  #parent-meals-second-tr{ }

  #parent-meals-tbody{ } 

  .meal-thead tr{ background:black;
               -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
               border-radius: 3px; 
  } 
 
  .meal-thead-name { color:white; } 
}
