<div id=current-stats>
    <div id=current-stats-inner>
       <div id=current-stats-header>
           <h3> Body Comp Changes </h3>
       </div>

       <table>
         <tr>
           <th> Fat </th>
           <th> LBM </th>
           <th> Weight </th>
         </tr>
         <tr>
           <td><%= pluralize(@recent_fat_change, 'lbs') %></td>
           <td><%= pluralize(@recent_lbm_change, 'lbs') %></td>
           <td><%= pluralize(@recent_weight_change, 'lbs') %></td> 
         </tr>
       </table>
       <span><%= link_to "Log", status_update_path(current_user.id)%></span>
    </div>
</div>                                                        

