<tr>
    <thead class=meal-thead>
        <td class=meal-thead-name> Meal Name </td>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> <%= link_to "x" %> </th>
    </thead>
    <tbody class=meal-tbody>
       <% # render @foods %>
       <%= render 'layouts/food' %>
       <td> <%= link_to "+" %> </td> 
    </tbody>    
</tr> 
