<div id=metabolism>
    <div id=metabolism-inner>
        <h3> Metabolic Numberz </h3>
        <h4> Daily Cal. Burn Rate </h4>
        <%= @tdee %> cals.
        <h4> Basal Metabolic Rate </h4>
        <%= @bmr %> cals.
        <h4> Weekly Burn Rate </h4>
        <%= @weekly_burn_rate %>
        <h4> Daily Calorie Deficit </h4>
        <%= @daily_calorie_target %> 
    </div>
</div>
