<div id=settings>
    <div id=settings-inner>
        <h3> Settings </h3>
        <h4> Goal Bodyfat Percent </h4>
        <%= current_user.target_bf_pct * 100 %>%
        <h4> Decifit Percent </h4>
        <%= current_user.deficit_pct * 100 %>%
        <h4> Activity Factor </h4>
        <%= current_user.activity_factor %>
        </br>
        <%= link_to "Change", edit_user_registration_path, class: "change" %>  
    </div>
</div>
